<mat-sidenav-container>
  <mat-sidenav position="end" mode="side" opened="true">
    <app-cart></app-cart>
    <div class="cart-footer">
      <mat-divider></mat-divider>
      <app-cart-footer></app-cart-footer>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-cardapio-nav-bar></app-cardapio-nav-bar>
    <div class="row align-items-center div-btn-ver-carrinho">
      <button class="btn-ver-carrinho" mat-button>Ver Carrinho</button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
