<mat-toolbar class="tool-bar-top">
  <mat-toolbar-row>
    <div class="">
      <img
        src="../../../assets/img/vecteezy_pizza-logo-with-illustration-a-piece-of-pizza_.jpg"
        alt="Logo"
        class="logo_img"
      />
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="div-display-tabs">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link routerLink="/pedido/promocao" routerLinkActive="active-link"
      >PROMOÇÕES</a
    >
    <a mat-tab-link routerLink="/pedido/pizza">PIZZA</a>
    <a mat-tab-link routerLink="/pedido/entrada">ENTRADAS</a>
    <a mat-tab-link routerLink="/pedido/sobremesa">SOBREMESAS</a>
    <a mat-tab-link routerLink="/pedido/bebida">BEBIDAS</a>
  </nav>
  <mat-tab-nav-panel #tabPanel> </mat-tab-nav-panel>
  <router-outlet></router-outlet>
</div>
