<mat-toolbar class="tool-bar">
  <mat-toolbar-row>
    <div class="col-8">
      <img
        src="../../../assets/img/vecteezy_pizza-logo-with-illustration-a-piece-of-pizza_.jpg"
        alt="Logo"
        class="logo_img"
      />
    </div>
    <div class="div-login">
      <button mat-button class="btn-login">
        <i class="bi bi-person-circle"></i>
        Fazer login
      </button>
    </div>
    <div class="div-register">
      <button mat-button class="btn-register">
        <i class="bi bi-person-circle"></i>
        Criar Conta
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
