<div class="div-header-cart">
  <h1>Seu carrinho</h1>
</div>
<div
  class="container"
  *ngIf="selectedProdutoList.length > 0; else cartVazioBlock"
>
  <mat-list class="list-produto">
    <div
      class="lista-cart-item"
      *ngFor="let produto of selectedProdutoList; let i = index"
    >
      <div class="cart-item row d-flex align-items-center">
        <div class="col-5">
          <a class="link-nome-produto">{{ produto.produto.nomeProduto }}</a>
        </div>
        <div class="col-3 align-items-center">
          <button mat-stroked-button>{{ produto.quantidadeProduto }}</button>
        </div>
        <div class="col-4">
          <a class="link-preco"
            >R$ {{ produto.precoPorQuantidade.toFixed(2).replace(".", ",") }}</a
          >
          <a class="link-icon-x" (click)="removeProduto(i)"
            ><i class="bi bi-x-circle-fill icon-x"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="div-link-esvaziar-cart" (click)="clearCart()">
      <a class="link-esvaziar-cart">Esvaziar seu carrinho</a>
    </div>
    <mat-divider></mat-divider>
    <div class="div-entrega-preco-final row no-gutters">
      <div class="col-8">
        <p>Seu Total</p>
      </div>
      <div class="col-4">
        <p>R$ {{ precoTotal }}</p>
      </div>
    </div>
  </mat-list>
</div>
<ng-template #cartVazioBlock>
  <div class="container">
    <p class="p-cart-vazio">Seu carrinho está vazio</p>
  </div>
</ng-template>
